// Colours
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$btn-color: #382ae1;
// Fonts
$red-hat: "Red Hat Display", sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: $pale-blue;
  font-family: $red-hat;
  text-align: center;
}
button {
  font-family: $red-hat;
  background: none;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 900;
  color: $dark-blue;
}
p {
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 500;
  color: $desaturated-blue;
}
@import "./card";
